.close {
  display: none;
  position: absolute;

  @include square(50px);
  top: 0;
  right: 0;
  z-index: 1;
  border: 0;

  &:hover,
  &:focus {
    outline: none;
  }
}

.close__line {
  display: none;
  position: absolute;

  @include size(21px, 1px);
  background-color: $black;
  left: 15px;

  &::before,
  &::after {
    @include pseudo();
    @include size(21px, 1px);
    background-color: $black;
    top: 6px;
  }

  &::before {
    top: -7px;
  }
}
