.form__item {
  display: block;
  margin-bottom: 20px;
  @media (max-width: $m-end) {
    margin: 0 auto 20px;
    @include size(321px, 48px);
  }
  @media (max-width: $s-end) {
    @include size(288px, 48px);
  }
}

.form input {
  background: $white;
  border: 1px solid $gray-border;
  border-radius: 4px;
  @include size(327px, 48px);
  padding: 12px 30px 12px;

  &::placeholder {
    font-weight: normal;
    font-size: 15px;
    line-height: 24px;
    color: rgba($gray-placeholder, 0.5);
  }

  &:hover,
  &:focus {
    outline: none;
    box-shadow: inset 2px 0 0 $blue,
    inset 0 2px 0 $blue,
    inset -2px 0 0 $blue,
    inset 0 -2px 0 $blue;
  }

  @media (max-width: $m-end) {
    @include size(321px, 48px);
    padding-left: 20px;
    padding-right: 20px;
  }
  @media (max-width: $s-end) {
    @include size(288px, 48px);
    padding-left: 24px;
  }
}

.form__btn {
  border: 0;
  background-color: $blue;
  color: $black;
  border-radius: 6px;
  padding: 16px 52px 15px 53px;
  font-weight: 600;
  font-size: 15px;
  line-height: 21px;
  display: block;
  margin: auto;

  &:focus,
  &:hover {
    outline: none;
    background-color: $light-blue;
  }

  &:active {
    background-color: $dark-blue;
  }

  @media (max-width: $m-end) {
    padding: 16px 49px 15px;
  }
  @media (max-width: $s-end) {
    padding: 13px 32px 15px;
  }
}
