.header {
  color: $white;
  background-color: $dark;
  background-image: url("../img/bike-desk.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 22px;
  position: relative;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/bike-desk.jpg");
  }

  &--opened {
    padding-top: 0;
    @media (max-width: $m-end) {
      .menu {
        position: absolute;
        width: 100%;
        padding: 0;
        left: 0;
        padding-top: 100px;
        background-color: $white;
        padding-bottom: 137px;
        z-index: 1;
      }
      .menu__list {
        flex-direction: column;
        padding: 0;
      }
      .close {
        @include pseudo();
        @include size(50px, 51px);
        top: 0;
        right: 0;
        z-index: 1;
        border: 0;
        background-color: $white;

        &:before,
        &:after {
          @include pseudo();
          transform: rotate(45deg);
          @include size(36px, 1px);
          background-color: rgba($gray-close, 0.2);
        }
        &:after{
          transform: rotate(-45deg);
        }
      }
      .menu__link {
        font-weight: normal;
        font-size: 20px;
        line-height: 140%;
        color: $gray-menu-text;
      }
      .menu__item {
        width: 100%;
        background-color: $gray;
        max-width: 100%;
        padding: 17px;
        padding-right: 36px;
        margin-bottom: 28px;
        position: relative;

        &:after{
          @include pseudo();
          @include square(25px);
          background-image: url("../img/icon-arrow.svg");
          background-repeat: no-repeat;
          top: 50%;
          transform: translateY(-50%);
          background-position: center;
          right: 17px;
        }
      }
      .menu__item:last-child {
        margin-bottom: 0;
      }
    }
  }
}


.header__logo {
  display: block;
  width: 67px;
  height: 22px;
  margin-bottom: 31px;
}

.header__promo {
  padding-left: 14.7%;
  padding-right: 14.7%;
  display: flex;
  padding-bottom: 238px;
}

.header__desc {
  flex-basis: 50%;
  padding-right: 5%;
}

.header__slogan {
  font-weight: bold;
  font-size: 46px;
  line-height: 139%;
  letter-spacing: -0.005em;
  margin: 0;
  margin-bottom: 26px;
}

.header__text {
  font-weight: 300;
  font-size: 20px;
  line-height: 160%;
  letter-spacing: -0.005em;
  opacity: 0.8;
  margin: 0;
}

.header__form-container {
  flex-basis: 50%;
  padding-left: 12.7%;
  padding-top: 6px;

  //
  display: none;
}

.header__form-text {
  font-weight: 600;
  font-size: 17px;
  line-height: 165%;
  text-align: center;
  letter-spacing: -0.005em;
  margin: 0;
  margin-bottom: 19px;
}
