.header {
  color: $white;
  background-color: $dark;
  background-image: url("../img/bike-desk.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 22px;
  position: relative;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/bike-desk2x.jpg");
  }


  @media (max-width: $m-end) {
    background-image: url("../img/bike-tabl.jpg");
    background-size: 100% 341px;
    background-color: $white;
    padding-bottom: 30px;
    &--opened {
      padding-top: 0;

      .menu {
        position: absolute;
        width: 100%;
        padding: 0;
        left: 0;
        padding-top: 100px;
        background-color: $white;
        padding-bottom: 137px;
        z-index: 1;
      }

      .menu__list {
        flex-direction: column;
        padding: 0;
      }

      .close {
        @include pseudo();
        @include size(50px, 51px);
        top: 0;
        right: 0;
        z-index: 1;
        border: 0;
        background-color: $white;

        &:before,
        &:after {
          @include pseudo();
          transform: rotate(45deg);
          @include size(36px, 1px);
          background-color: rgba($gray-close, 0.2);
        }

        &:after {
          transform: rotate(-45deg);
        }
      }

      .menu__link {
        font-weight: normal;
        font-size: 20px;
        line-height: 140%;
        color: $gray-menu-text;
      }

      .menu__item {
        width: 100%;
        background-color: $gray;
        max-width: 100%;
        padding: 17px;
        padding-right: 36px;
        margin-bottom: 28px;
        position: relative;

        &:after {
          @include pseudo();
          @include square(25px);
          background-image: url("../img/icon-arrow.svg");
          background-repeat: no-repeat;
          top: 50%;
          transform: translateY(-50%);
          background-position: center;
          right: 17px;
        }
      }

      .menu__item:last-child {
        margin-bottom: 0;
      }
    }
    &--closed {
      padding-top: 24px;

      .menu {
        margin-bottom: 0;
      }

      .menu__list {
        display: none;
      }

      .close {
        display: block;
        @include pseudo();
        @include square(50px);
        top: 0;
        right: 0;
        background-color: $blue;
        border: 0;
      }

      .close__line {
        display: block;
        position: absolute;
        @include size(21px, 1px);
        background-color: $black;
        left: 15px;

        &:before,
        &:after {
          @include pseudo();
          @include size(21px, 1px);
          background-color: $black;
          top: 6px;
        }

        &:before {
          top: -7px;
        }
      }
    }
    @media (min-resolution: 2dppx) {
      background-image: url("../img/bike-tabl.jpg");
    }
  }
}


.header__logo {
  display: block;
  width: 67px;
  height: 22px;
  margin-bottom: 31px;

  @media (max-width: $m-end) {
    margin-bottom: 89px;
  }
}

.header__promo {
  padding-left: 14.7%;
  padding-right: 14.7%;
  display: flex;
  padding-bottom: 238px;

  @media (max-width: $m-end) {
    padding: 0;
    flex-direction: column;
  }
}

.header__desc {
  flex-basis: 50%;
  padding-right: 5%;

  @media (max-width: $m-end) {
    flex-basis: 100%;
    padding: 0;
    padding-bottom: 118px;
  }
}

.header__slogan {
  font-weight: bold;
  font-size: 46px;
  line-height: 139%;
  letter-spacing: -0.005em;
  margin: 0;
  margin-bottom: 26px;

  @media (max-width: $m-end) {
    font-size: 30px;
    line-height: 42px;
    text-align: center;
    margin-bottom: 18px;
  }
}

.header__text {
  font-weight: 300;
  font-size: 20px;
  line-height: 160%;
  letter-spacing: -0.005em;
  opacity: 0.8;
  margin: 0;

  @media (max-width: $m-end) {
    font-size: 18px;
    line-height: 178%;
    text-align: center;
    padding: 0 172px;
  }
}

.header__form-container {
  flex-basis: 50%;
  padding-left: 12.7%;
  padding-top: 6px;

  @media (max-width: $m-end) {
    flex-basis: 100%;
    padding: 34px 202px 0;
  }
}

.header__form-text {
  font-weight: 600;
  font-size: 17px;
  line-height: 165%;
  text-align: center;
  letter-spacing: -0.005em;
  margin: 0;
  margin-bottom: 19px;

  @media (max-width: $m-end) {
    font-size: 18px;
    line-height: 156%;
    text-align: center;
    letter-spacing: -0.005em;
    color: $black;
    padding-top: 0;
    margin-bottom: 29px;
  }
}
