.social {
  margin: 0 auto;
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 563px;

  @media (max-width: $m-end) {
    width: 561px;
  }

  @media (max-width: $s-end) {
    padding: 0 16px;
    width: auto;
  }
}

.social li {
  flex-basis: 50%;
  margin-bottom: 5px;

  &:last-child {
    margin-bottom: 0;
  }

  @media (max-width: $s-end) {
    margin-bottom: 21px;
    flex-basis: 100%;
  }
}

.social__link {
  display: flex;
  align-items: center;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: rgba($black, 0.5);

  &--tel {
    margin-left: 80px;
  }

  &:hover,
  &:focus {
    color: $blue;
    outline: none;
  }

  &:active {
    opacity: 0.6;
  }

  @media (max-width: $s-end) {
    padding-right: 0;
    justify-content: center;

    &--tel {
      margin-left: 0;
    }
  }
}

.social__svg {
  stroke: $blue;
  fill: $white;
  margin-right: 14px;
}
