$opensans: "OpenSans", "Arial", sans-serif;
$font: $opensans;


//size
$small: 320px;
$medium: 768px;
$large: 1024px;

$s-end: 767px;
$m-end: 1023px;
$l-end: 1440px;

//colors
$white: #ffffff;

$light-gray: #e5e5e5;
$gray: #f6f6f6;
$blue: #0ad9c6;
$light-blue: #50e3d5;
$dark-blue: #09ab9b;
$gray-border: #c9ccd4;
$gray-backgound: #f6f7f9;
$gray-menu-text: #48494d;
$gray-close: #141517;
$gray-dark: #1f1f1f;
$dark-background: #131314;
$gray-placeholder: #1c1c1c;
$dark: #171717;
$black: #000000;
