$opensans: "OpenSans", "Arial", sans-serif;
$font: $opensans;


//size
$small: 320px;
$medium: 768px;
$large: 1024px;

$s-end: 767px;
$m-end: 1023px;
$l-end: 1440px;

//colors
$white: #ffffff;
$light-gray: #E5E5E5;
$gray: #F6F6F6;
$blue: #0AD9C6;
$gray-border: #C9CCD4;
$gray-menu-text: #48494D;
$gray-close: #141517;
$gray-placeholder: #1C1C1C;
$dark: #171717;
$black: #000000;
